*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: black;
    list-style: none;
    font-size: 15px;
    
}
body{
    background-image:url(/DAJE/sfondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Navigazione{
    display: flex;
    top: 10px;
    justify-content: center;
}
.immagine{
    height: 33px;
    width: 33px;
    align-items: center;
    margin-right: 20px;
}
.bottone{
    
    width: 20px;
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(255, 0, 0, 0.5);

}
li{
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .my-btn {
    background-color: #06b6c242;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    display: flex;
  }
  
  .my-btn:hover {
    background-color: #017eff6e;
  }
  .leaflet-top{
    display: none;
  }
  .leaflet-top{
    text-align: center;
  }